[Honeypot_Hosts]
honeypot_1 ansible_host=192.168.167.6

[Honeypot_Second_Hosts]
honeypot_2 ansible_host=192.168.167.7
honeypot_3 ansible_host=192.168.167.8

[Honeypot_Hosts:vars]
ansible_connection=ssh
ansible_user=student
ansible_pass=student


wi1 private_ip=<wi1_ec2_private_ip> indexer_node_name=node-1
dashboard  private_ip=<dashboard_ec2_private_ip>
manager private_ip=<manager_ec2_private_ip>
worker private_ip=<worker_ec2_private_ip>

[wi_cluster]
wi1

[all:vars]
ansible_ssh_user=vagrant
ansible_ssh_private_key_file=/path/to/ssh/key.pem
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
